.element__button {
    background-image: url(../../../images/Vector3.svg);
    margin-right: 15px;
    width: 22px;
    height: 19px;
    border: none;
    background-color: transparent;
    transition: 1s ease-in-out;
}

.element__button:hover {
    opacity: 0.5;
}